<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-soru-heading" data-cy="SoruCreateUpdateHeading"
        jhiTranslate="temrinMatikApp.soru.home.createOrEditLabel">
        Create or edit a Soru
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <!-- <div class="form-group">
          <label class="form-control-label"  for="field_image">Image</label>
          <div>
            <img [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
              style="max-height: 100px" *ngIf="editForm.get('image')!.value" alt="resim image" />
            <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('imageContentType')!.value }}, {{
                byteSize(editForm.get('image')!.value) }}</span>
              <button type="button" (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                class="btn btn-secondary btn-xs pull-right">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_image" data-cy="image" (change)="setFileData($event, 'image', true)"
              accept="image/*" jhiTranslate="entity.action.addimage" />
          </div>
          <input type="hidden" class="form-control" name="image" id="field_image" data-cy="image"
            formControlName="image" />
          <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
            formControlName="imageContentType" />
        </div> -->

        <div class="row mb-3">
          <label class="form-label" for="field_image">Resim</label>

          <div>
            <img [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
              style="max-height: 100px" *ngIf="editForm.get('image')!.value" alt="resim image" />
            <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('imageContentType')!.value }}, {{
                byteSize(editForm.get('image')!.value) }}</span>
              <button type="button" (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                class="btn btn-secondary btn-xs pull-right">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_image" data-cy="image" (change)="setFileData($event, 'image', true)"
              accept="image/*" jhiTranslate="entity.action.addimage" />
          </div>
          <input type="hidden" class="form-control" name="image" id="field_image" data-cy="image"
            formControlName="image" />
          <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
            formControlName="imageContentType" />
        </div>

        <div class="row mb-3" [hidden]="editForm.get('resimUrl')!.value == null">
          <img style="
            width: 100%;
            height: auto;
          "
            [src]="'https://temrinbucket.s3.eu-central-1.amazonaws.com/' + editForm.get('resimUrl')!.value" />

        </div>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id"
            [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.soru.isim" for="field_isim">Isim</label>
          <input type="text" class="form-control" name="isim" id="field_isim" data-cy="isim" formControlName="isim" />
          <div *ngIf="editForm.get('isim')!.invalid && (editForm.get('isim')!.dirty || editForm.get('isim')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('isim')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 500 }">
              This field cannot be longer than 500 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_metin">metin</label>
          <input type="text" class="form-control" name="metin" id="field_metin" data-cy="metin"
            formControlName="metin" />
          <div
            *ngIf="editForm.get('metin')!.invalid && (editForm.get('metin')!.dirty || editForm.get('metin')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('metin')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
              This field cannot be longer than 2000 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.soru.cevap" for="field_cevap">Cevap</label>
          <input type="text" class="form-control" name="cevap" id="field_cevap" data-cy="cevap"
            formControlName="cevap" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.soru.sira" for="field_sira">Sira</label>
          <input type="number" class="form-control" name="sira" id="field_sira" data-cy="sira" formControlName="sira" />
        </div>

        <div class="row mb-3">

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defaultCheck2" formControlName="gozuksun">
            <label class="form-check-label" for="defaultCheck2">
              Soru gösterilsin
            </label>
          </div>
        </div>

        <div class="row mb-3">

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defaultCheck1" formControlName="cevapli">
            <label class="form-check-label" for="defaultCheck1">
              Cevaplı Soru
            </label>
          </div>
        </div>



        <ng-container *ngIf="this.editForm.get(['cevapli'])!.value">
          <div class="row mb-3">
            <label class="form-label" jhiTranslate="temrinMatikApp.soru.a" for="field_a">A</label>
            <input type="text" class="form-control" name="a" id="field_a" data-cy="a" formControlName="a" />
          </div>

          <div class="row mb-3">
            <label class="form-label" jhiTranslate="temrinMatikApp.soru.b" for="field_b">B</label>
            <input type="text" class="form-control" name="b" id="field_b" data-cy="b" formControlName="b" />
          </div>

          <div class="row mb-3">
            <label class="form-label" jhiTranslate="temrinMatikApp.soru.c" for="field_c">C</label>
            <input type="text" class="form-control" name="c" id="field_c" data-cy="c" formControlName="c" />
          </div>

          <div class="row mb-3">
            <label class="form-label" jhiTranslate="temrinMatikApp.soru.d" for="field_d">D</label>
            <input type="text" class="form-control" name="d" id="field_d" data-cy="d" formControlName="d" />
          </div>
        </ng-container>





        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.soru.konu" for="field_konu">Konu</label>
          <select class="form-control" id="field_konu" data-cy="konu" name="konu" formControlName="konu">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="konuOption.id === editForm.get('konu')!.value?.id ? editForm.get('konu')!.value : konuOption"
              *ngFor="let konuOption of konusSharedCollection; trackBy: trackKonuById">
              {{ konuOption.isim }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_donem">Donem</label>
          <select class="form-control" id="field_donem" data-cy="donem" name="donem" formControlName="donem">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="donemOption.id === editForm.get('donem')!.value?.id ? editForm.get('donem')!.value : donemOption"
              *ngFor="let donemOption of donemsSharedCollection; trackBy: trackDonemById">
              {{ donemOption.isim }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
          (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
