<footer>
  <div class="container py-6 text-center">
    <div class="col-md-12 navbar-expand border-bottom pb-2 mb-4">
      <div lc-helper="shortcode" class="live-shortcode ">
        <!--  lc_nav_menu -->
        <ul id="menu-menu-1" class="navbar-nav me-auto mb-2 mb-md-0 justify-content-center">
          <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-32739"><a
              href="https://www.linkedin.com/in/bedirhan-ergun/" target="_blank" class="nav-link ">Linked</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738"><a
              href="https://github.com/kodmen?tab=repositories" target="_blank" class="nav-link ">github</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738"><a
              href="https://www.buymeacoffee.com/bedirhanE" target="_blank" class="nav-link ">destek</a></li>

        </ul> <!-- /lc_nav_menu -->
      </div>
    </div>

    <div class="lc-block">
      <div editable="rich">
        <p class="text-muted">© 2022 Bedirhan, Inc</p>

      </div>
    </div>
  </div>

</footer>