<div class="d-flex justify-content-center">
    <div class="col-8">

        <ng-container *ngIf="isError">
            <div class="alert alert-danger" role="alert">
               {{this.ErrorMessage}}
              </div>
        </ng-container>
        

        <form name="yurtKodForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="yurtKodForm">

            <div class="row mb-3">
                <label class="form-label"  for="field_isim"
                  [ngbTooltip]="'temrinMatikApp.sinif.help.isim' | translate">Sınıf kodu</label>
                <input type="text" class="form-control" name="sinifKod" id="field_isim" data-cy="isim" formControlName="sinifKod" />
                <div *ngIf="yurtKodForm.get('sinifKod')!.invalid && (yurtKodForm.get('sinifKod')!.dirty || yurtKodForm.get('sinifKod')!.touched)">
                  <small class="form-text text-danger" *ngIf="yurtKodForm.get('sinifKod')?.errors?.maxlength"
                    jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 500 }">
                    This field cannot be longer than 500 characters.
                  </small>
                </div>
              </div>
      

            <button type="submit" id="save-entity" data-cy="entityCreateSaveButton"
                 class="btn btn-primary">
                <fa-icon icon="save"></fa-icon>&nbsp;<span>Sinif kaydet</span>
            </button>

        </form>

    </div>
</div>