<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-deneme-heading" data-cy="DenemeCreateUpdateHeading" jhiTranslate="temrinMatikApp.deneme.home.createOrEditLabel">
        Create or edit a Deneme
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_MESUL']" class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.deneme.isim" for="field_isim">Isim</label>
          <input type="text" class="form-control" name="isim" id="field_isim" data-cy="isim" formControlName="isim" />
          <div *ngIf="editForm.get('isim')!.invalid && (editForm.get('isim')!.dirty || editForm.get('isim')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isim')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 500 }"
            >
              This field cannot be longer than 500 characters.
            </small>
          </div>
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_MESUL']" class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.deneme.olusturmaTarih" for="field_olusturmaTarih">Olusturma Tarih</label>
          <div class="input-group">
            <input
              id="field_olusturmaTarih"
              data-cy="olusturmaTarih"
              type="text"
              class="form-control"
              name="olusturmaTarih"
              ngbDatepicker
              #olusturmaTarihDp="ngbDatepicker"
              formControlName="olusturmaTarih"
            />
            <button type="button" class="btn btn-secondary" (click)="olusturmaTarihDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.deneme.baslamaTarih" for="field_baslamaTarih">Baslama Tarih</label>
          <div class="d-flex">
            <input
              id="field_baslamaTarih"
              data-cy="baslamaTarih"
              type="datetime-local"
              class="form-control"
              name="baslamaTarih"
              formControlName="baslamaTarih"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.deneme.sure" for="field_sure">Sure</label>
          <input type="number" class="form-control" name="sure" id="field_sure" data-cy="sure" formControlName="sure" />
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_MESUL']" class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.deneme.cevapAnahtar" for="field_cevapAnahtar">Cevap Anahtar</label>
          <input
            type="text"
            class="form-control"
            name="cevapAnahtar"
            id="field_cevapAnahtar"
            data-cy="cevapAnahtar"
            formControlName="cevapAnahtar"
          />
          <div
            *ngIf="editForm.get('cevapAnahtar')!.invalid && (editForm.get('cevapAnahtar')!.dirty || editForm.get('cevapAnahtar')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cevapAnahtar')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 500 }"
            >
              This field cannot be longer than 500 characters.
            </small>
          </div>
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_MESUL']" class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.deneme.denemeInfoJson" for="field_denemeInfoJson">Deneme Info Json</label>
          <input
            type="text"
            class="form-control"
            name="denemeInfoJson"
            id="field_denemeInfoJson"
            data-cy="denemeInfoJson"
            formControlName="denemeInfoJson"
          />
          <div
            *ngIf="
              editForm.get('denemeInfoJson')!.invalid && (editForm.get('denemeInfoJson')!.dirty || editForm.get('denemeInfoJson')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('denemeInfoJson')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 5000 }"
            >
              This field cannot be longer than 5000 characters.
            </small>
          </div>
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_MESUL']" class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.deneme.olusturan" for="field_olusturan">Olusturan</label>
          <select class="form-control" id="field_olusturan" data-cy="olusturan" name="olusturan" formControlName="olusturan">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('olusturan')!.value?.id ? editForm.get('olusturan')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="temrinMatikApp.deneme.sorular" for="field_sorulars">Sorular</label>
          <select class="form-control" id="field_sorulars" data-cy="sorular" multiple name="sorulars" formControlName="sorulars">
            <option
              [ngValue]="getSelectedSoru(soruOption, editForm.get('sorulars')!.value)"
              *ngFor="let soruOption of sorusSharedCollection; trackBy: trackSoruById"
            >
              {{ soruOption.isim }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
