<div>
  <h2 id="page-heading" data-cy="GrupHeading">
    <span jhiTranslate="temrinMatikApp.grup.home.title">Grups</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="temrinMatikApp.grup.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-grup"
        [routerLink]="['/grup/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="temrinMatikApp.grup.home.createLabel"> Create a new Grup </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="grups?.length === 0">
    <span jhiTranslate="temrinMatikApp.grup.home.notFound">No grups found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="grups && grups.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="temrinMatikApp.grup.isim">Isim</span></th>
          <th scope="col"><span >Gozuksun</span></th>
          <th scope="col"><span >Konular</span></th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grup of grups; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/grup', grup.id, 'view']">{{ grup.id }}</a>
          </td>
          <td>{{ grup.isim }}</td>
          <td>{{ grup.gozuksun }}</td>
          <td>
            <ng-container *ngFor="let konu of grup.konular">
              {{konu.isim}},
            </ng-container>
            
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/grup', grup.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button  *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_EDITOR']" type="submit" [routerLink]="['/grup', grup.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button  *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_EDITOR']" type="submit" (click)="delete(grup)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
