<!doctype html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>
    <div class="container">
        <div class="row">

            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>
        </div>

        <div class="row row-cols-2">
            <ng-container *ngFor="let item of duzen ; index as dort ">

                <div class="col border border-bottom-1 border-dark">
                    <ng-container *ngFor="let d of item.slice(0,2); index as t ">

                        <div class="d-flex flex-column mb-3">

                            <div class=" ">

                                <h3 style="color:red ;" class="mt-4 text-end ">(-{{(t+1)+(dort*4) }}</h3>

                                <div class="">
                                    <ng-container *ngIf="d.soruResimUrl !== null">
                                        <img [src]="foto + d.soruResimUrl" class="rounded mx-auto d-block responsive"
                                            alt="..." />
                                    </ng-container>
                                    <ng-container *ngIf="d.metin !== null">
                                        <h3 class="question-text answer-text text-end" data-answer="a">{{d.metin}}</h3>
                                    </ng-container>

                                    <ng-container *ngIf="d.cevapli">
                                        <table class="table table-borderless">

                                            <tbody class="text-end">
                                                <tr>
                                                    <th scope="row text-start"> ا ) </th>

                                                    <td>{{d.kar!.a}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ب )</th>

                                                    <td>{{d.kar!.b}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ج )</th>

                                                    <td>{{d.kar!.c}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">د )</th>

                                                    <td>{{d.kar!.d}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>

                                </div>
                            </div>

                        </div>
                    </ng-container>

                </div>


                <div class="col border border-bottom-1 border-dark">
                    <ng-container *ngFor="let d of item.slice(-2); index as t ">

                        <div class="d-flex flex-column mb-3">

                            <div class=" ">

                                <h3 style="color:red ;" class="mt-4 text-end ">(-{{(t+3)+(dort*4) }}</h3>

                                <div class="">
                                    <ng-container *ngIf="d.soruResimUrl !== null">
                                        <img [src]="foto + d.soruResimUrl" class="rounded mx-auto d-block responsive"
                                            alt="..." />
                                    </ng-container>
                                    <ng-container *ngIf="d.metin !== null">
                                        <h3 class="question-text answer-text text-end" data-answer="a">{{d.metin}}</h3>
                                    </ng-container>

                                    <ng-container *ngIf="d.cevapli">
                                        <table class="table table-borderless">

                                            <tbody class="text-end">
                                                <tr>
                                                    <th scope="row text-start"> ا ) </th>

                                                    <td>{{d.kar!.a}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ب )</th>

                                                    <td>{{d.kar!.b}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ج )</th>

                                                    <td>{{d.kar!.c}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">د )</th>

                                                    <td>{{d.kar!.d}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>

                                </div>
                            </div>

                        </div>
                    </ng-container>

                </div>

            </ng-container>

            <hr>

        </div>

    </div>




</body>

</html>