<div>
  <h2 id="page-heading" data-cy="KonuHeading">
    <span jhiTranslate="temrinMatikApp.konu.home.title">Konus</span>

    <div class="d-flex justify-content-end m-1">
      <div class="form-outline">
        <form name="search" [formGroup]="search">
         <input formControlName="text" type="search" id="form1" class="form-control" placeholder="Search" />
        </form>
      </div>
      <button type="button" class="btn btn-primary" (click)="searchText()">
        <fa-icon icon="search"></fa-icon>
      </button>
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="temrinMatikApp.konu.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-konu"
        [routerLink]="['/konu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="temrinMatikApp.konu.home.createLabel"> Create a new Konu </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

<ng-container *ngIf="seacrhKonu">
  <div class="table-responsive" id="entities" >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="temrinMatikApp.konu.isim">Isim</span></th>
          <th scope="col"><span jhiTranslate="temrinMatikApp.konu.sayi">Sayi</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr  data-cy="entityTable">
          <td>
            <a [routerLink]="['/konu', seacrhKonu.id, 'view']">{{ seacrhKonu.id }}</a>
          </td>
          <td>{{ seacrhKonu.isim }}</td>
          <td>{{ seacrhKonu.soruSayisi }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/konu', seacrhKonu.id, 'view']" class="m-1 btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button *jhiHasAnyAuthority="'ROLE_ADMIN'"  type="submit" [routerLink]="['/soru/konu/', seacrhKonu.id]"  class="m-1 btn btn-success btn-sm" >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" >sorulara git</span>
              </button>

              <button  *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['/konu', seacrhKonu.id, 'edit']" class="m-1 btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button  *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(seacrhKonu)" class="m-1 btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="table-responsive" id="entities" >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="temrinMatikApp.konu.isim">Isim</span></th>
          <th scope="col"><span jhiTranslate="temrinMatikApp.konu.sayi">Sayi</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr  data-cy="entityTable">
          <td>
            <a [routerLink]="['/konu', seacrhKonu.id, 'view']">{{ seacrhKonu.id }}</a>
          </td>
          <td>{{ seacrhKonu.isim }}</td>
          <td>{{ seacrhKonu.soruSayisi }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/konu', seacrhKonu.id, 'view']" class="m-1 btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button *jhiHasAnyAuthority="'ROLE_ADMIN'"  type="submit" [routerLink]="['/soru/konu/', seacrhKonu.id]"  class="m-1 btn btn-success btn-sm" >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" >sorulara git</span>
              </button>

              <button  *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['/konu', seacrhKonu.id, 'edit']" class="m-1 btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button  *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(seacrhKonu)" class="m-1 btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->

</ng-container>

  
  <div class="alert alert-warning" id="no-result" *ngIf="konus?.length === 0">
    <span jhiTranslate="temrinMatikApp.konu.home.notFound">No konus found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="konus && konus.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="temrinMatikApp.konu.isim">Isim</span></th>
          <th scope="col"><span jhiTranslate="temrinMatikApp.konu.sayi">Sayi</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let konu of konus; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/konu', konu.id, 'view']">{{ konu.id }}</a>
          </td>
          <td>{{ konu.isim }}</td>
          <td>{{ konu.soruSayisi }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/konu', konu.id, 'view']" class="m-1 btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button *jhiHasAnyAuthority="'ROLE_ADMIN'"  type="submit" [routerLink]="['/soru/konu/', konu.id]"  class="m-1 btn btn-success btn-sm" >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" >sorulara git</span>
              </button>

              <button  *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['/konu', konu.id, 'edit']" class="m-1 btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button  *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(konu)" class="m-1 btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="konus">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
