<div>
  <h2 id="page-heading" data-cy="MesajHeading">
    <span jhiTranslate="temrinMatikApp.mesaj.home.title">Mesajs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="temrinMatikApp.mesaj.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mesaj"
        [routerLink]="['/mesaj/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="temrinMatikApp.mesaj.home.createLabel"> Create a new Mesaj </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mesajs?.length === 0">
    <span jhiTranslate="temrinMatikApp.mesaj.home.notFound">No mesajs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="mesajs && mesajs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="userName">
            <span jhiTranslate="temrinMatikApp.mesaj.userName">User Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="eposta">
            <span jhiTranslate="temrinMatikApp.mesaj.eposta">Eposta</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mesaj">
            <span jhiTranslate="temrinMatikApp.mesaj.mesaj">Mesaj</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="goruldu">
            <span jhiTranslate="temrinMatikApp.mesaj.goruldu">Goruldu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tarih">
            <span jhiTranslate="temrinMatikApp.mesaj.tarih">Tarih</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mesaj of mesajs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mesaj', mesaj.id, 'view']">{{ mesaj.id }}</a>
          </td>
          <td>{{ mesaj.userName }}</td>
          <td>{{ mesaj.eposta }}</td>
          <td>{{ mesaj.mesaj }}</td>
          <td>{{ mesaj.goruldu }}</td>
          <td>{{ mesaj.tarih | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/mesaj', mesaj.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/mesaj', mesaj.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(mesaj)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="mesajs && mesajs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
