<div>
  <h2 id="page-heading" data-cy="DenemeAnalizHeading">
    <span jhiTranslate="temrinMatikApp.denemeAnaliz.home.title">Deneme Analizs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="temrinMatikApp.denemeAnaliz.home.refreshListLabel">Refresh List</span>
      </button>

      <button
      *jhiHasAnyAuthority="['ROLE_ADMIN']"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-deneme-analiz"
        [routerLink]="['/deneme-analiz/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="temrinMatikApp.denemeAnaliz.home.createLabel"> Create a new Deneme Analiz </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="denemeAnalizs?.length === 0">
    <span jhiTranslate="temrinMatikApp.denemeAnaliz.home.notFound">No denemeAnalizs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="denemeAnalizs && denemeAnalizs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <!-- <th scope="col"><span jhiTranslate="global.field.id">ID</span></th> -->
                    <th scope="col"><span jhiTranslate="temrinMatikApp.denemeAnaliz.deneme">Deneme</span></th>
          <th scope="col"><span jhiTranslate="temrinMatikApp.denemeAnaliz.user">User</span></th>
          <th scope="col"><span jhiTranslate="temrinMatikApp.denemeAnaliz.puan">Puan</span></th>

          <th scope="col"><span jhiTranslate="temrinMatikApp.denemeAnaliz.dogru">Dogru</span></th>
          <th scope="col"><span jhiTranslate="temrinMatikApp.denemeAnaliz.yanlis">Yanlis</span></th>
          <th scope="col"><span > Analiz Yanlis </span></th>
          <th scope="col"><span > Analiz bos </span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let denemeAnaliz of denemeAnalizs; trackBy: trackId" data-cy="entityTable">
        <td>
            <div *ngIf="denemeAnaliz.deneme">
              <a [routerLink]="['/deneme', denemeAnaliz.deneme?.id, 'view']">{{ denemeAnaliz.deneme?.isim }}</a>
            </div>
          </td> 
            <td>
            {{ denemeAnaliz.user?.login }}
          </td>      
           <td>{{ denemeAnaliz.puan }}</td>

          

          <td>{{ denemeAnaliz.dogru }}</td>
          <td>{{ denemeAnaliz.yanlis }}</td>
          <td>{{  konuAnalizYanlis(denemeAnaliz.konuAnalizJson!) }}</td>
          <td>{{  konuAnalizBos(denemeAnaliz.konuAnalizJson!) }}</td>
          
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/deneme-analiz', denemeAnaliz.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
              *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_HOCA','ROLE_MESUL']"
                type="submit"
                [routerLink]="['/deneme-analiz', denemeAnaliz.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_HOCA','ROLE_MESUL']" type="submit" (click)="delete(denemeAnaliz)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
