<div>
    <h2 id="page-heading" data-cy="DenemeHeading">
      <span jhiTranslate="temrinMatikApp.deneme.home.title">Denemes</span>
  
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="temrinMatikApp.deneme.home.refreshListLabel">Refresh List</span>
        </button>
      </div>
    </h2>
  
    <jhi-alert-error></jhi-alert-error>
  
    <jhi-alert></jhi-alert>
  
    <div class="alert alert-warning" id="no-result" *ngIf="denemes?.length === 0">
      <span jhiTranslate="temrinMatikApp.deneme.home.notFound">No denemes found</span>
    </div>
    <div class="row">
      <ng-container *ngFor="let deneme of denemes; let last = last">
        <div class="col-md-3">
          <div class="card m-4" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">{{ deneme.isim }}</h5>
  
              <h6 class="card-title">olusturan: {{ deneme.olusturan?.login }}</h6>
              <h6 class="card-text">baslama tarih:{{ deneme.baslamaTarih!.format('DD/MM/YYYY') }}</h6>
  
              <p class="card-text">Saat: {{ deneme.baslamaTarih!.get('h') }}:{{ deneme.baslamaTarih!.get('m') }}</p>
              <p class="card-text">{{ deneme.sure }} süre</p>
  
              <button class="btn btn-success" (click)="zamanKontrol(deneme)" class="card-link">denemeye başla</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  