<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="grup">
      <h2 data-cy="grupDetailsHeading"><span jhiTranslate="temrinMatikApp.grup.detail.title">Grup</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_MESUL']"><span jhiTranslate="global.field.id">ID</span></dt>
        <dd *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_MESUL']">
          <span>{{ grup.id }}</span>
        </dd>
        <dt><span jhiTranslate="temrinMatikApp.grup.isim">Isim</span></dt>
        <dd>
          <span>{{ grup.isim }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button  *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/grup', grup.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
