<div>
  <h2 id="page-heading" data-cy="DenemeHeading">
    <span jhiTranslate="temrinMatikApp.deneme.home.title">Denemes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-tema me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="temrinMatikApp.deneme.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-deneme"
        [routerLink]="['/deneme/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="temrinMatikApp.deneme.home.createLabel"> Create a new Deneme </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="denemes?.length === 0">
    <span jhiTranslate="temrinMatikApp.deneme.home.notFound">No denemes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="denemes && denemes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          
          <th scope="col"><span jhiTranslate="temrinMatikApp.deneme.isim">Isim</span></th>
          <th scope="col"><span jhiTranslate="temrinMatikApp.deneme.olusturmaTarih">Olusturma Tarih</span></th>
          <th scope="col"><span jhiTranslate="temrinMatikApp.deneme.baslamaTarih">Baslama Tarih</span></th>
          <th scope="col"><span jhiTranslate="temrinMatikApp.deneme.sure">Sure</span></th>
          <!-- <th scope="col"><span jhiTranslate="temrinMatikApp.deneme.cevapAnahtar">Cevap Anahtar</span></th> -->
          <!-- <th scope="col"><span jhiTranslate="temrinMatikApp.deneme.denemeInfoJson">Deneme Info Json</span></th> -->
          <th scope="col"><span jhiTranslate="temrinMatikApp.deneme.olusturan">Olusturan</span></th>
          <!-- <th scope="col"><span jhiTranslate="temrinMatikApp.deneme.sorular">Sorular</span></th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deneme of denemes; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/deneme', deneme.id, 'view']">{{ deneme.id }}</a>
          </td> -->
          <td>{{ deneme.isim }}</td>
          <td>{{ deneme.olusturmaTarih | formatMediumDate }}</td>
          <td>{{ deneme.baslamaTarih | formatMediumDatetime }}</td>
          <td>{{ deneme.sure }}</td>
          <!-- <td>{{ deneme.cevapAnahtar }}</td> -->
          <!-- <td>{{ deneme.denemeInfoJson }}</td> -->
          <td>
            {{ deneme.olusturan?.login }}
          </td>
          <!-- <td>
            <span *ngFor="let sorular of deneme.sorulars; let last = last">
              <a class="form-control-static" [routerLink]="['/soru', sorular.id, 'view']">{{ sorular.isim }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td> -->
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/deneme',deneme.id, 'pdf', ]" class="btn btn-success btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" >Pdf indir</span>
              </button>

              <button type="submit" [routerLink]="['/deneme', deneme.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/deneme', deneme.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(deneme)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="denemes">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
