

<!-- Design inspired from https://www.hotjar.com/ -->
<div class="jumbotron mt-5 mb-5">
  <div class="container text-center text-lg-left">

    <div class="row" [ngSwitch]="account !== null">
      <div class="col-lg-6 my-auto">
        <h1 class="display-4">Deneme Uygulaması</h1>
        <p class="lead">Öğrenciler için deneme çözme ve analiz uygulaması</p>
        <div class="lc-block" *ngSwitchCase="false">
          <a class="btn  mt-2" style="background-color:#1dc49c ;" routerLink="login" role="button">Giriş Yap</a>
          <a class="btn btn-outline-primary mt-2" routerLink="account/register" role="button">Üye Ol</a>
        </div>
        <div  class="lc-block" *ngSwitchCase="true">
          <a  *jhiHasAnyAuthority="'ROLE_USER'" class="btn  mt-2" style="background-color:#1dc49c ;" routerLink="deneme/ogr" role="button">Denemeler</a>
          <a  *jhiHasAnyAuthority="'ROLE_HOCA'" class="btn  mt-2" style="background-color:#1dc49c ;" routerLink="deneme" role="button">Deneme olustur</a>

        </div>

      </div>
      <div class="col-lg-6 align-items-center d-flex">
        <img src="../../content/images/TEMRINPOTO.png" alt="" class="img-fluid">
      </div>
    </div>


  </div>
</div>



<div class="container py-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="lc-block">
        <h2 editable="inline" class="display-2 mb-0"><b>Özellikler</b></h2>
        <p editable="inline">Deneme uygulaması özellikleri</p>
      </div><!-- /lc-block -->
    </div>
  </div>
  <div class="row">
   
    <div class="col-md-6 col-xs-12">
      <div class="card ">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/dffZ2Y0yCdM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Hoca giriş için tanıtım</h5>
          <p class="card-text">Hoca sistemi kullanımı için tanıtım videosu</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" >
        <div class="ratio ratio-16x9">
          <iframe width="1424" height="652" src="https://www.youtube.com/embed/jXA74rmvaKM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Öğrenci için tanıtım</h5>
          <p class="card-text">Öğrenci için uygulama tanıtım videosu</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3 mt-md-5">
    <div class="col-md-6 col-lg-5 col-xl-3 mb-4 mb-xl-0">
      <div class="lc-block p-4 border rounded-3  text-white" style="background-color: #155263;">
        <div class="lc-block">

          <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor" class="mb-6"
            viewBox="0 0 16 16" style="" lc-helper="svg-icon">
            <path fill-rule="evenodd"
              d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.096 3.146a.5.5 0 1 1 .707.708L6.707 9.95h2.768a.5.5 0 1 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.475a.5.5 0 1 1 1 0v2.768l4.096-4.097z">
            </path>
          </svg>

        </div>
        <div class="lc-block mb-4">
          <div editable="rich">
            <h4>Kolay Kullanım:</h4>
          </div>
        </div>
        <div class="lc-block mb-lg-5 mb-2">
          <div editable="rich">
            <p> Deneme çözme uygulamamızın kolay kullanımı sayesinde, deneme sınavlarınızı istediğiniz zaman ve istediğiniz yerde çözebilirsiniz.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-3 mb-4 mb-xl-0">
      <div class="lc-block p-4 border rounded-3  text-dark" style="background-color: #FF6F3C;">
        <div class="lc-block">

          <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor" class="mb-6"
            viewBox="0 0 16 16" style="" lc-helper="svg-icon">
            <path fill-rule="evenodd"
              d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.096 3.146a.5.5 0 1 1 .707.708L6.707 9.95h2.768a.5.5 0 1 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.475a.5.5 0 1 1 1 0v2.768l4.096-4.097z">
            </path>
          </svg>

        </div>
        <div class="lc-block mb-4">
          <div editable="rich">
            <h4>Geniş Konu Yelpazesi:</h4>
          </div>
        </div>
        <div class="lc-block mb-lg-5 mb-2">
          <div editable="rich">
            <p> Deneme çözme uygulamamız, farklı konularda çok sayıda deneme sınavı içermekte ve sizlere bu konularla ilgili detaylı geri bildirimler sağlamaktadır.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-3 mb-4 mb-xl-0">
      <div class="lc-block p-4 border rounded-3  text-light" style="background-color: #FF9A3C;">
        <div class="lc-block">

          <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor" class="mb-6"
            viewBox="0 0 16 16" style="" lc-helper="svg-icon">
            <path fill-rule="evenodd"
              d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.096 3.146a.5.5 0 1 1 .707.708L6.707 9.95h2.768a.5.5 0 1 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.475a.5.5 0 1 1 1 0v2.768l4.096-4.097z">
            </path>
          </svg>

        </div>
        <div class="lc-block mb-4">
          <div editable="rich">
            <h4>Zaman Yönetimi Becerileri:</h4>
          </div>
        </div>
        <div class="lc-block mb-lg-5 mb-2">
          <div editable="rich">
            <p> Öğrenci çözdüğü denemnin analizini kolay bir şeklde görüp hangi sorularda yanlış yaptığını bulabiliyor
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-3 mb-4 mb-xl-0">
      <div class="lc-block p-4 border rounded-3  text-white" style="background-color: #FFC93C;">
        <div class="lc-block">

          <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor" class="mb-6"
            viewBox="0 0 16 16" style="" lc-helper="svg-icon">
            <path fill-rule="evenodd"
              d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.096 3.146a.5.5 0 1 1 .707.708L6.707 9.95h2.768a.5.5 0 1 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.475a.5.5 0 1 1 1 0v2.768l4.096-4.097z">
            </path>
          </svg>

        </div>
        <div class="lc-block mb-4">
          <div editable="rich">
            <h4>Kişiselleştirilmiş Performans Analizi:</h4>
          </div>
        </div>
        <div class="lc-block mb-lg-5 mb-2">
          <div editable="rich">
            <p>Deneme çözme uygulamamız, çözdüğünüz deneme sınavlarına göre kişiselleştirilmiş performans analizleri sunarak, zayıf ve güçlü yönlerinizi belirleyebilir ve bu yönde çalışmalar yapmanıza yardımcı olabilir.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container py-5">
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="lc-block text-center">
        <div editable="rich">
          <h2 class="fw-bold">FAQ</h2>
        </div>
      </div>
      <div class="lc-block text-center">
        <div editable="rich">
          uygulama hakkında sıkça sorulan sorular
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="lc-block mb-5">
        <div editable="rich">
          <p class="h4">Üye oldum ama giriş yapamıyorum? </p>
          <p>Sisteme üye olduktan sonra girdiğiniz mail adresinize onaylama kodu gönderiliyor eğer onaylamazsanız giriş
            yapamazsınız</p>
        </div>
      </div>
      <div class="lc-block mb-5">
        <div editable="rich">
          <p class="h4">Giriş yaptım şimdi napıcam?</p>
          <p>Giriş yaptıktan sonra hocanıza haber verin sizi sınıfınıza dahil etsin </p>
        </div>
      </div>
      <div class="lc-block mb-5">
        <div editable="rich">
          <p class="h4">Denemelere nerden giricem?</p>
          <p>yukarda menüler kısmında öğrenci->denemeler </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="lc-block mb-5">
           <div editable="rich">
              <p class="h4">Deneme çözme uygulamanız nasıl çalışır?</p>
              <p>Deneme çözme uygulamamız, kullanıcılara farklı konulardaki deneme sınavlarını çözmelerine ve bu sınavlarla ilgili geri bildirimleri alarak performanslarını iyileştirmelerine olanak sağlar. Kullanıcılar, uygulamayı indirerek kayıt olabilir ve deneme sınavlarına erişebilirler. </p>
           </div>
        </div>
        <div class="lc-block mb-5">
           <div editable="rich">
              <p class="h4">Uygulamanızda hangi konular yer almaktadır?</p>
              <p>Uygulamamızda Sınıfınızın seviyesine göre müfredatta olan konular yer almaktadır. </p>
           </div>
        </div>
        <div class="lc-block mb-5">
           <div editable="rich">
              <p class="h4">Geri bildirimler nasıl sağlanmaktadır? </p>
              <p>Deneme çözme uygulamamız, kullanıcıların deneme sınavlarını çözmeleri ve sonuçlarına göre kişiselleştirilmiş geri bildirimler almalarına olanak sağlamaktadır. Kullanıcılar, sınav sonuçlarını ve doğru/yanlış cevaplarını görüntüleyebilirler. </p>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="container py-5">
  <div class="row mb-5">
    <div class="col-md-12">

      <jhi-banner [banner]="banner"></jhi-banner>

    </div></div></div>


    <div class="container py-5">
      <div class="row min-vh-25 align-items-center text-center">

        <div class="col-xl-4 mb-5 mb-xl-0">
          <div class="lc-block">
            <div class="d-inline-flex">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="2em" height="2em" viewBox="0 0 24 24" style="" lc-helper="svg-icon" fill="currentColor">
                  <path d="M12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5M12,2A7,7 0 0,1 19,9C19,14.25 12,22 12,22C12,22 5,14.25 5,9A7,7 0 0,1 12,2M12,4A5,5 0 0,0 7,9C7,10 7,12 12,18.71C17,12 17,10 17,9A5,5 0 0,0 12,4Z"></path>
                </svg>
              </div>
    
              <div class="ms-3 align-self-center" editable="rich">
                <p class="lead">İstanbul - Türkiye</p>
              </div>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-xl-4 mb-5 mb-xl-0">
          <div class="lc-block">
            <div class="d-inline-flex">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="2em" height="2em" viewBox="0 0 24 24" style="" lc-helper="svg-icon" fill="currentColor">
                  <path d="M13 17H17V14L22 18.5L17 23V20H13V17M20 4H4A2 2 0 0 0 2 6V18A2 2 0 0 0 4 20H11V18H4V8L12 13L20 8V14H22V6A2 2 0 0 0 20 4M12 11L4 6H20Z"></path>
                </svg>
              </div>
    
              <div class="ms-3 align-self-center" editable="rich">
                <p class="lead">bedirhan1029@gmail.com</p>
              </div>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
      </div>
    </div>