<div class="row">
  

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Gölbaşı talebe yurdu</span> (Temrin Matik)</h1>

    <p class="lead" jhiTranslate="home.subtitle">Gölbaşı katkılarıyla temrin uygulaması</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span >Üyeliğiniz var mı?</span>&nbsp;
        <a class="alert-link" routerLink="login" >Giriş yapın</a>
      </div>

    </div>
  </div>

  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>
</div>
