<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-deneme-analiz-heading"
        data-cy="DenemeAnalizCreateUpdateHeading"
        jhiTranslate="temrinMatikApp.denemeAnaliz.home.createOrEditLabel"
      >
        Create or edit a Deneme Analiz
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.denemeAnaliz.dogru" for="field_dogru">Dogru</label>
          <input type="number" class="form-control" name="dogru" id="field_dogru" data-cy="dogru" formControlName="dogru" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.denemeAnaliz.yanlis" for="field_yanlis">Yanlis</label>
          <input type="number" class="form-control" name="yanlis" id="field_yanlis" data-cy="yanlis" formControlName="yanlis" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.denemeAnaliz.puan" for="field_puan">Puan</label>
          <input type="number" class="form-control" name="puan" id="field_puan" data-cy="puan" formControlName="puan" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.denemeAnaliz.cozuldu" for="field_cozuldu">Cozuldu</label>
          <input type="checkbox" class="form-check" name="cozuldu" id="field_cozuldu" data-cy="cozuldu" formControlName="cozuldu" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.denemeAnaliz.konuAnalizJson" for="field_konuAnalizJson"
            >Konu Analiz Json</label
          >
          <input
            type="text"
            class="form-control"
            name="konuAnalizJson"
            id="field_konuAnalizJson"
            data-cy="konuAnalizJson"
            formControlName="konuAnalizJson"
          />
          <div
            *ngIf="
              editForm.get('konuAnalizJson')!.invalid && (editForm.get('konuAnalizJson')!.dirty || editForm.get('konuAnalizJson')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('konuAnalizJson')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 5000 }"
            >
              This field cannot be longer than 5000 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.denemeAnaliz.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="temrinMatikApp.denemeAnaliz.deneme" for="field_deneme">Deneme</label>
          <select class="form-control" id="field_deneme" data-cy="deneme" name="deneme" formControlName="deneme">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="denemeOption.id === editForm.get('deneme')!.value?.id ? editForm.get('deneme')!.value : denemeOption"
              *ngFor="let denemeOption of denemesSharedCollection; trackBy: trackDenemeById"
            >
              {{ denemeOption.isim }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
