<div class="row">


    <div class="col-md-6 col-xs-12">


        <div class="question-holder row">
            <div *ngIf="soru?.resimUrl!" class="col-12">
                <img class="rounded mx-auto d-block responsive" [defaultImage]="defaultImage"
                    [lazyLoad]="foto + soru?.resimUrl!" />
            </div>

            <ng-container *ngIf="soru?.metin !== null">
                <h3 class="question-text answer-text text-end" data-answer="a">{{soru?.metin!}}</h3>
            </ng-container>



        </div>

        <div class="row">
            <div class="col-12">
                <div class="answer-container card " [ngClass]="getCevapClassAta('A')">
                    <p class="answer-text text-end" data-answer="a">{{soru?.a}}</p>

                    <p class="answer-prefix">A</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="answer-container card" [ngClass]="getCevapClassAta('B')">
                    <p class="answer-text text-end" data-answer="b">{{soru?.b}}</p>

                    <p class="answer-prefix">B</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="answer-container card" [ngClass]="getCevapClassAta('C')">
                    <p class="answer-text text-end" data-answer="c">{{soru?.c}}</p>

                    <p class="answer-prefix">C</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="answer-container card" [ngClass]="getCevapClassAta('D')">
                    <p class="answer-text text-end" data-answer="d">{{soru?.d}}</p>

                    <p class="answer-prefix">D</p>
                </div>
            </div>
        </div>

    </div>
</div>