<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="soru">
      <h2 data-cy="soruDetailsHeading"><span jhiTranslate="temrinMatikApp.soru.detail.title">Soru</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ soru.id }}</span>
        </dd>
        <dt><span jhiTranslate="temrinMatikApp.soru.isim">Isim</span></dt>
        <dd>
          <span>{{ soru.isim }}</span>
        </dd>
        <dt><span jhiTranslate="temrinMatikApp.soru.cevap">Cevap</span></dt>
        <dd>
          <span>{{ soru.cevap }}</span>
        </dd>
        <dt><span jhiTranslate="temrinMatikApp.soru.sira">Sira</span></dt>
        <dd>
          <span>{{ soru.sira }}</span>
        </dd>
        <dt><span jhiTranslate="temrinMatikApp.soru.resimUrl">Resim Url</span></dt>
        <dd>
          <img class="responsive" [src]="'https://temrinbucket.s3.eu-central-1.amazonaws.com/' + soru.resimUrl" />
        </dd>
        <dt><span jhiTranslate="temrinMatikApp.soru.a">A</span></dt>
        <dd>
          <span>{{ soru.a }}</span>
        </dd>
        <dt><span jhiTranslate="temrinMatikApp.soru.b">B</span></dt>
        <dd>
          <span>{{ soru.b }}</span>
        </dd>
        <dt><span jhiTranslate="temrinMatikApp.soru.c">C</span></dt>
        <dd>
          <span>{{ soru.c }}</span>
        </dd>
        <dt><span jhiTranslate="temrinMatikApp.soru.d">D</span></dt>
        <dd>
          <span>{{ soru.d }}</span>
        </dd>
        <dt><span jhiTranslate="temrinMatikApp.soru.cevapli">Cevapli</span></dt>
        <dd>
          <span>{{ soru.cevapli }}</span>
        </dd>
        <dt><span jhiTranslate="temrinMatikApp.soru.konu">Konu</span></dt>
        <dd>
          <div *ngIf="soru.konu">
            <a [routerLink]="['/konu', soru.konu?.id, 'view']">{{ soru.konu?.isim }}</a>
          </div>
        </dd>
        <dt><span >Donem</span></dt>
        <dd>
          <div *ngIf="soru.donem">
            <a [routerLink]="['/donem', soru.donem?.id, 'view']">{{ soru.donem?.isim }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button  *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/soru', soru.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
